<div
  class="background"
  fxFlex="100"
  fxLayout="column"
  fxLayoutAlign="space-around center"
>
  <div
    class="error-container"
    fxLayout="column"
    fxLayoutAlign="space-around center"
  >
    <div
      class="elements-container"
      fxLayout="column"
      fxLayoutAlign="space-between center"
    >
      <h1>Page not found</h1>
      <div class="icon-container">
        <span
          class="material-symbols-outlined icon-item"
          inline="true"
          style="align-items: center"
        >
          sentiment_very_dissatisfied
        </span>
      </div>
    </div>
  </div>
</div>
